.full-image-popup__container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2222;
    background: #0A0A0B;
    left: 0;
    top: 0;
}

.full-image-popup__image {
    display: block;

}

.full-image-popup {
    height: 100%;
    width: 100%;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

.full-image-popup__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 24px;
    left: 0;
}

.full-image-popup__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background: #1B1D1C;
    border-radius: 100px;
}

.full-image-popup__title {
    width: calc(100% - 120px);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 100% */
    font-family: $titleFont;
    text-transform: uppercase;
    color: #fff;
}


.full-image-popup__container {
    transition: all ease 0.5s;
    opacity: 1;

    .full-image-popup__image {
        transform: translateY(0);
        transition: all ease 0.5s;
    }
}

.show__popup-enter-active {
    transition: all .5s ease;
    opacity: 0;

    .full-image-popup__image {
        transform: translateY(-50%);
        transition: all ease 0.5s;


    }
}

.show__popup-leave-active {
    transition: all .5s ease;
    opacity: 0;

    .full-image-popup__image {
        transform: translateY(-30%);
        transition: all ease 0.5s;

    }
}


#c {


    background: #0A0A0B;
}

.full-image-popup__image-fixed {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: calc(450px);
    max-height: calc(100% - 48px - 48px);
    pointer-events: none;
    z-index: -999;
    opacity: 0;
}

.fancybox__container {
    z-index: 5555;
    background: #0A0A0B;
}

.full-image-popup__header {
    position: fixed;
    z-index: 5556;
    left: 0;
    top: 24px;
    pointer-events: none;
}

.fancybox__toolbar.is-absolute,
.is-compact .fancybox__toolbar {
    padding-top: 24px;
    padding-right: 24px;
}

.f-button {
    background: #1B1D1C;
    border-radius: 100px;
    width: 48px;
    height: 48px;
}

.full-image-popup__header {
    display: none;
}

.activeHEader {
    display: block;
}

[data-fancybox-toggle-fullscreen] {
    display: none;
}

[data-panzoom-action="iterateZoom"] {
    display: none;
}

.is-idle .fancybox__toolbar {
    animation: none;
}

.full-image-popup__header {
    .theme-button {
        top: 0;
        transform: translate(0);
        opacity: 1;
    }

    .container {
        position: relative;
    }
}

.full-image-popup__zoom-icon-wrapper {
    width: 116px;
    height: 116px;
    background: rgba(27, 29, 28, 0.50);
    z-index: 19999;
    position: fixed;
    left: calc(50% - 58px);
    top: calc(50% - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    pointer-events: none;
    opacity: 0;
}

.activ-icon-zoom {
    opacity: 1;
}